.container {
    width: 80%;
    height: 3000px;
}

.gambar {
    width: 200px;
}

.icon{
    color: #677788;
    text-decoration: none;
}

a {
    font-size: 14pt;
    color: #677788;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #c1801e;
}